<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}{% endblock %}</title>
<body>
  <header>
    <h1>{% block header %}{% endblock %}</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Главная</a></li>
        {% for href, title in [
          ['/lovestories', 'Любовные романы'],
          ['/fantasy', 'Фэнтези'],
          ['/games', 'Книги по играм']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2021 by {% block author %}{% endblock %}
  </footer>
</body>
